In [1]:
import pandas as pd
data = pd.read_csv('movies_Superman_2025_comments.csv')
data.head()

                                             comment
0  Okay, obviously Clark, Lois, and Lex were grea...
1  The fact that Superman was angry because of wh...
2  Hawkgirl straight up murdered the president of...
3  Cannot get over just how much every woman exce...
4  It’s so funny when Supergirl shows up and you’...

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4168 entries, 0 to 4167
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  4168 non-null   object
dtypes: object(1)
memory usage: 32.7+ KB

In [6]:
import re

def data_cleaning(data):
    # Remove URLs
    data = re.sub(r'http\S+|www\S+|https\S+', '', data, flags=re.MULTILINE)
    # Remove user mentions
    data = re.sub(r'\@\w+|\#\w+','', data) 
    # Remove special characters and numbers
    data = re.sub(r'[^A-Za-z\s]', '', data) 
    # Remove extra whitespace
    data = re.sub(r'\s+', ' ', data).strip()
    # removing stopwords
    stopwords = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both',]
    data = ' '.join([word for word in data.split() if word.lower() not in stopwords]) 
    return data

In [8]:
data['cleaned_comments'] = data['comment'].apply(data_cleaning)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4168 entries, 0 to 4167
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   comment           4168 non-null   object
 1   cleaned_comments  4168 non-null   object
dtypes: object(2)
memory usage: 65.2+ KB

In [10]:
data.head()

,comment,cleaned_comments
0,"Okay, obviously Clark, Lois, and Lex were grea...",Okay obviously Clark Lois Lex great can please...
1,The fact that Superman was angry because of wh...,fact Superman angry happened Krypto surrendere...
2,Hawkgirl straight up murdered the president of...,Hawkgirl straight murdered president foreign c...
3,Cannot get over just how much every woman exce...,Cannot get just much every woman except Lois d...
4,It’s so funny when Supergirl shows up and you’...,so funny Supergirl shows youre just immediatel...